@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Adobe Garamond Pro Regular";
}

@layer base {
  .priheading {
    @apply text-large py-3 tracking-wider border-t border-b text-black;
  }
  .secheading {
    @apply text-xlarge;
  }
}
